body{
    background: #eee;
}
.side_nav{    
    margin-left: -250px;    
}
.side_nav_cara{
    background: #212529;
    min-width: 250px;
    max-width: 250px;  
    min-height: 100vh;
    z-index: 1;
}
.side_nav_cara_position{
    position: fixed;
}
.content{
    min-height: 100vh;
    width: 100%;
}
hr.h-color{
    background: #eee;
}
.sidebar li.active{
    background: #EEE;
    border-radius: 8px;
}
.sidebar li.active a,.sidebar li a:hover{
    color: rgb(190, 74, 74);
}
.sidebar li a{
    color: #eee;
}
@media(min-width:767px){
    .side_nav{
        margin-left: 0px;    
    }
}
.side_nav.active{
    margin-left: 0px;
}

.scroll{
    overflow: scroll;
    height: 600px;
    width: 100%;
}
.scroll table{
    width: 100%;

}
.scroll table thead{
    position: sticky;
    top: 0;
    background: #000;
    color: aquamarine;
}
.h-css{
    background: #fff;
    height: 1px;
    margin-left: 10px;
    margin-right: 10px;
}

.inline{
    display: none;
}

.online{
    display: block;
}
.bg{
    background: #333332;
    border-radius: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
}
